.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
}


/* Alarms */
/* flex setup */
.alarm-container {
  /* display:flex; */
  /* flex-direction: column; */
  /* position: relative; */
  background-color: #232936;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom:10px;
}



/* time colors */
.orange {
  color:orange;
}
.grey {
  color:grey;
}
.yellow {
  color:yellow;
}

.days {
  margin-top:0;
  margin-bottom: 0;
  /* position: absolute; */
  bottom: 0px;
}


/* BUTTONS */
.rounded-button {
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  border: none;
  margin-right:10px;
  height:100%;
}

.blue {
  background-color: blue;
}
.yellow {
  background-color: rgb(145, 109, 12);
}

/* CREATE ALARM BUTTON */
.button-container {
  font-size: 14px;
  color: #d169d4;
  border: 1px solid rgb(214, 54, 54);
  margin-left:200px;
}

/* DELETE DISPLAY BUTTON */
.delete-display-button {
  /* margin-left: 'auto'; */
  /* display: 'block'; */
  padding: '0px';
  border:'none';
  font-size:large;
  text-align: center;
}







